<!doctype html>
<html lang="ko">
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>김자바네 서점</title>
</head>
<body>
<h1>김자바네 서점</h1>
<section>
    <a th:href="@{/books/new}">등록</a>
</section>
<section style="display: flex; flex-direction: column; gap: 8px; align-items: start;">
    <div th:each="book : ${books}">
        <p th:text="${book.id}"></p>
        <p th:text="${book.title}"></p>
        <p th:text="${book.author}"></p>
        <a th:href="@{/books/{id}(id=${book.id})}">자세히보기</a>
        <!--        <p th:text="${book.price}"></p>-->
        <!--        <p th:text="${book.discountPrice}"></p>-->
        <!--        <p th:text="${book.isAvailable}"></p>-->
        <!--        <p th:text="${book.category}"></p>-->
        <!--        <p th:text="${book.createdAt}"></p>-->
        <!--        <p th:text="${book.updatedAt}"></p>-->
    </div>
</section>
</body>
</html>